<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" type="text/css" href="/static/add_equipments/index.css">

<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/add_equipments/kisan.png" /> 
</head>

<body class="has-overlay">
	<!-- Left Panel -->
		<section>
<h2 class="top-title"><strong>Add<span></span>Equipments</strong></h2>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/plant_predict">Predict Plants</a>
  <a href="/water_predict">Predict Water</a>
  <a href="/my_equipments">My Equipments</a>
  <a href="/rent_equipments">Rent Equipments</a>
  <a href="/add_equipments">Add Equipments</a>
  <a href="/profile">My Profile</a>
  <a href="/logout">Logout</a>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
<!-- Left Panel -->

<div id="right-panel" class="right-panel">
	<header id="header" class="header">
		<div class="header-menu">
			<!-- <div class="header-center"> -->
				<!-- <h2>Add Equipments</h2> -->
			<!-- </div> -->
		</div>
		</header>

	<div class="content">
		<div class="card">
			<form class="equip-form" action="" method="POST" novalidate="novalidate">
				{% csrf_token %}
				<div class="container">
					<div class="input">
						<label class="control-label">Equipment Name</label>
						<input class="input100" type="text" name="equipname" id="equipname">
					</div>
					<div class="input">
						<label class="control-label">Quantity</label>
						<input class="input100" type="number" min="0" name="quantity" id="quantity">
					
					</div>

				</div>
				<span></span>
				<div class="container">
					<div class="input">
						<label class="control-label">Renting Price per day</label>
						<input class="input100" type="number" min="0" name="price" id="price">
					</div>
					<div class="input">
						<label class="control-label">Age of Machine</label>
						<input class="input100" type="number" min="0" name="usage" id="usage">
						
					</div>
				</div>
				

					<div class="button1">
						<button class="addeq">
							ADD
						</button>
					</div>				

				</form>

			</div>
</div>
</div>
</section>
<script src="/static/add_equipments/main.js"></script>
</body>
</html> 
