<!DOCTYPE html>
<html lang="en">


<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/homepage/index.css">
	 
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<body class="has-overlay">
	<section>
		<header>

  <nav class="nav">
    <div class="container">
      <div class="nav-heading">
      
        <a class="brand" href="#">
          <img src="/static/homepage/1.png" style="height:120px;width:170px; margin-left:45px; padding-top:30px">
        </a>
      </div>
        <ul class="list">

          <li class="active"><a href="#/">About us</a></li> 
          <li><a href="/yojna">Yojana</a></li> 
          <li><a href="/login">Login</a></li> 
          <li><a href="/register">Sign Up</a></li> 
        </ul>
    </div>
  </nav>
</header>
  <div class="item">

    <h1>About Us</h1>
    <p style="font-size: 23px;">In India, farmers are considered to be the backbone of the country. Around 52% percent of the Indian population account to farmers having agriculture as the sole occupation. Growth in agriculture is a requirement for the Indian economy. We aim to provide a single window to the farmers that will benefit them in better production and help them earn a better livelihood. This portal helps farmers identify ways to boost their yield by helping them make correct decisions right from the commencement of crop production. Statistical analysis is given at every point by real-time monitoring of the locale. A rental service is also provided for the equipment required in the duration of crop production. Along with these facilities, the portal also provides with the latest updates on the ongoing schemes which are beneficial for the farmers.</p>
</div>
</section>
<script type="text/javascript" src="/static/homepage/index.css/main.js"></script>
</body>
</html>
