<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/static/Dashboard/index.css">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/Dashboard/kisan.png" /> 
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About Us</a>
  <a href="#">Predict Plants</a>
  <a href="#">Predict Water</a>
  <a href="#">Predict Fertilizer</a>
  <a href="#">Rent Equipments</a>
  <a href="#">Add Equipments</a>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
<script src="/static/Dashboard/main.js"></script>
   
</body>
</html> 
