<html>

<head>
 <!--  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
  <title>E-Kisan</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="/static/login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/login/vendor/animate/animate.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="/static/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="/static/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/login/css/util.css">
  <link rel="stylesheet" type="text/css" href="/static/login/css/main.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>
  <nav class="nav">
    <div class="container">
      <div class="nav-heading">
      
        <a class="brand" href="#">
          <img src="/static/login/1.png" style="height:120px;width:170px; margin-left:475px; margin-top:30px;">
        </a>
      </div>
        <ul class="list">

          <li ><a href="/">About us</a></li> 
          <li><a href="/yojna">Yojana</a></li> 
          <li class="active"><a href="/login">Login</a></li> 
          <li><a href="/register">Sign Up</a></li> 
        </ul>
    </div>
  </nav>
</header>

<body>

  

  <div class="limiter">
    <div class="container-login100" style="background-image: url('/static/login/images/farmer.jpg');">


      <div class="wrap-login100 p-t-30 p-b-50">
       <span class="login100-form-title p-b-41">
          Account Login
        </span>
        <form class="login100-form validate-form p-b-33 p-t-5" method="POST">
	{% csrf_token %}
          <div class="wrap-input100 validate-input" data-validate = "Enter username">
            <input class="input100" type="text" name="username" id="username" placeholder="Farmer ID">
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input class="input100" type="password" name="pass" id="pass" placeholder="Password">
            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
          </div>

          <div class="container-login100-form-btn m-t-32">
            <button class="login100-form-btn">
              Login
            </button>
          </div>

          <div class="w-full text-center p-t-55">
            <span class="txt2">
              Not a member?
            </span>

            <a href="/signup" class="txt2 bo1">
              Sign up now
            </a>
          </div>

        </form>
      </div>

    </div>
  </div>
  

  <div id="dropDownSelect1"></div>


<script src="/static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="/static/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
  <script src="/static/login/vendor/bootstrap/js/popper.js"></script>
  <script src="/static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
  <script src="/static/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
  <script src="/static/login/vendor/daterangepicker/moment.min.js"></script>
  <script src="/static/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
  <script src="/static/login/vendor/countdowntime/countdowntime.js"></script>
 <script src="/static/login/js/main.js"></script> 
</body>
</html>
