<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/home/divyajyoti/Webtemp/ver3/kisan_portal/portal/static/Profile/profile.css">
<title>Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="kisan.png" /> 
</head>

<body class="has-overlay">
	<section>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About Us</a>
  <a href="#">Predict Plants</a>
  <a href="#">Predict Water</a>
  <a href="#">Predict Fertilizer</a>
  <a href="#">Rent Equipments</a>
  <a href="#">Add Equipments</a>
  <a href="#">Profile Page</a>
</div>



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<div id="main">
  <span style="font-size:30px;cursor:pointer;color:black;position: left;" onclick="openNav()">&#9776;</span>
</div>
<h2 class="top-title"><strong>Profile Page</strong></h2>

<div class="container">
	<div class="top-content">
	<h2 class="details">
    <span style="background:white;  border-radius: 8px;  padding: 1px 3px 1px 3px;">Details</span>
    </h2>
	</div>
  <div class="left-content">
    <img src="/home/divyajyoti/Webtemp/ver3/kisan_portal/portal/static/Profile/kisan.png" alt="avatar">
  </div>
  <div class="right-content">
   <!--  <span class="greeting">Hello</span> -->
    
     <div class="detail-infor">
    <div class="labels">
    	<p>Farmer ID: </p>
      <p>First Name: </p>
      <p>Last Name: </p>
      <p>Address: </p>
      <p>District: </p>
       <p>State: </p>
       <p>Mobile: </p>
       <p>Age: </p>
    </div>
    <div class="infor">
      <p>Put id here</p>
      <p>Put first name here</p>
      <p>Put last name here</p>
      <p>Put address here</p>
      <p>Put district here</p>
      <p>Put state here</p>
      <p>Put Mobile here</p>
      <p>22</p>
    </div>
  </div>
  </div>

</div>

<script src="/home/divyajyoti/Webtemp/ver3/kisan_portal/portal/static/Profile/main.js"></script>
   </section>
</body>
</html> 

