<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/static/Profile/profile.css">
<title>Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/Profile/kisan.png" /> 
</head>

<body class="has-overlay">
	<section>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/plant_predict">Predict Plants</a>
  <a href="/water_predict">Predict Water</a>
  <a href="/my_equipments">My Equipments</a>
  <a href="/rent_equipments">Rent Equipments</a>
  <a href="/add_equipments">Add Equipments</a>
  <a href="/profile">My Profile</a>
  <a href="/logout">Logout</a>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<div id="main">
  <span style="font-size:30px;cursor:pointer;color:white;position: left;" onclick="openNav()">&#9776;</span>
</div>
<h2 class="top-title"><strong>My Profile</strong></h2>

<div class="container">
	<div class="top-content">
	<h2 class="details">
    <span style="color:black; font-weight:700;  border-radius: 8px;  padding: 1px 3px 1px 3px;">Details</span>
    </h2>
	</div>
  <div class="left-content">
    <img src="/static/Profile/pp.png" alt="avatar">
</div>
  <div class="right-content">
   <!--  <span class="greeting">Hello</span> -->
    
     <div class="detail-infor">
    <div class="labels" style="color:black; font-size:20px;">
    	<p>Farmer ID:   {{ user.farmer_reg_id }} </p>
      <p>First Name:   {{ user.first_name }}
      <p>Last Name:   {{ user.last_name }}</p>
      <p>Address:   {{ user.address }} </p>
      <p>District:  {{ user.district }}</p>
       <p>State:    {{ user.state }}</p>
       <p>Mobile:   {{ user.phone_no }}</p>
       <p>Age:   {{ user.age }}</p>
    </div>
  </div>
  </div>

</div>

<script src="/static/Profile/main.js"></script>
   </section>
</body>
</html> 

