<html>

<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<title>Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/signup/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/signup/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/signup/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/signup/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/signup/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/signup/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/signup/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/signup/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/signup/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/signup/css/main1.css">
  </head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<header>


  <nav class="nav">
    <div class="container">
      <div class="nav-heading">
      
        <a class="brand" href="#">
          <img src="/static/signup/1.png" style="height:120px;width:170px; margin-left:475px; margin-top:30px">
        </a>
      </div>
        <ul class="list">

          <li ><a href="/">About us</a></li> 
          <li><a href="/yojna">Yojana</a></li> 
          <li><a href="/login">Login</a></li> 
          <li class="active"><a href="/register">Sign Up</a></li> 
        </ul>
    </div>
  </nav>
</header>
<body>

<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/signup/images/farmer.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
					
				<span class="login100-form-title p-b-41">
					Register Here!
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" method="POST">
				{% csrf_token %}
	
						<div class="wrap-input100 validate-input" data-validate = "Enter farmerId">
							<input class="input100" type="text" name="farmerId" placeholder="Farmer ID">
							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter firstname">
							<input class="input100" type="text" name="firstname" placeholder="First name">
							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>


 					<div class="wrap-input100 validate-input" data-validate = "Enter lastname">
						<input class="input100" type="text" name="lastname" placeholder="Last name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter address">
						<input class="input100" type="text" name="address" placeholder="Address">
						<span class="focus-input100" data-placeholder="&#xe800;"></span>
					</div>

				
					<div class="wrap-input100 validate-input" data-validate = "Enter district">
						<select class="input100" id="district" name="district">
						<option style="color:black" value="None">-- Select District --</option>
						<option style="color:black" value="Ahmedabad">Ahmedabad</option>
						<option style="color:black" value="Tonk">Tonk</option>
						<option style="color:black" value="Banswara">Banswara</option>
						<option style="color:black" value="Gulberga">Gulberga</option>
						<option style="color:black" value="Bhagalpur">Bhagalpur</option>
						<option style="color:black" value="Banglore">Banglore</option>
						<option style="color:black" value="Indore">Indore</option>
						<option style="color:black" value="Jaipur">Jaipur</option>
						<option style="color:black" value="Dharwad">Dharwad</option>
						<option style="color:black" value="Coimbatore">Coimbatore</option>
						<option style="color:black" value="Jalna">Jalna</option>
						<option style="color:black" value="Hisar">Hisar</option>
						<option style="color:black" value="Rewari">Rewari</option>
						</select>
						<span class="focus-input100" data-placeholder="&#xe833;"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Enter state">
						<select class="input100" id="state" name="state">
						<option style="color:black" value="None">-- Select State --</option>
						<option style="color:black" value="Maharashtra">Maharashtra</option>
						<option style="color:black" value="Tamil Nadu">Tamil Nadu</option>
						<option style="color:black" value="Karnataka">Karnataka</option>
						<option style="color:black" value="Gujarat">Gujarat</option>
						<option style="color:black" value="Rajasthan">Rajasthan</option>
						<option style="color:black" value="Bihar">Bihar</option>
						<option style="color:black" value="Madhya Pradesh">Madhya Pradesh</option>
						<option style="color:black" value="Haryana">Haryana</option>
						</select>
						<span class="focus-input100" data-placeholder="&#xe833;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter phone">
						<input class="input100" type="tel" id="phone" name="phone" placeholder="Mobile Number">
						<span class="focus-input100" data-placeholder="&#xe830;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter age">
						<input class="input100" type="number" min="1" max="100" name="age" placeholder="Enter Age">
						<span class="focus-input100" data-placeholder="&#xe830;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" id="pass" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
						
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" id="pass-confirm" name="pass-confirm" placeholder="Confirm Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Register
						</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Already a member?
						</span>

						<a href="/login" class="txt2 bo1">
							Login here
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="/static/signup/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/signup/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/signup/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/signup/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/signup/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/signup/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/signup/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/signup/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/signup/js/main1.js"></script>
</body>
</html>

