<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/Signup/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/Signup/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/Signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/Signup/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/Signup/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/Signup/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/Signup/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/Signup/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/Signup/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/Signup/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/Signup/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/Signup/images/farmer.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<div class="header">
				<img src="/static/Signup/images/kisan-t.png">
				</div>	
				<span class="login100-form-title p-b-41">
					Register Here!
				</span>
				<form action="" method="POST" class="login100-form validate-form p-b-33 p-t-5">
					{% csrf_token %} 
					<div class="wrap-input100 validate-input" data-validate = "Enter farmerId">
				<input class="input100" type="text" name="farmerId" id="farmer_id" placeholder="Farmer ID">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter firstname">
				<input class="input100" type="text" name="firstname" id="first" placeholder="First name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
 
 					<div class="wrap-input100 validate-input" data-validate = "Enter lastname">
				<input class="input100" type="text" name="lastname" id="last" placeholder="Last name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter address">
				<input class="input100" type="text" name="address" id="address"  placeholder="Address">
						<span class="focus-input100" data-placeholder="&#xe800;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter district">
						<select class="input100" id="district" name="district">
						<option style="color:black" value="None">-- Select District --</option>
						<option style="color:black" value="Ahmedabad">Ahmedabad</option>
						<option style="color:black" value="Tonk">Tonk</option>
						<option style="color:black" value="Banswara">Banswara</option>
						<option style="color:black" value="Gulberga">Gulberga</option>
						<option style="color:black" value="Bhagalpur">Bhagalpur</option>
						</select>
						<span class="focus-input100" data-placeholder="&#xe833;"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Enter state">
						<select class="input100" id="state" name="state">
						<option style="color:black" value="None">-- Select State --</option>
						<option style="color:black" value="Maharashtra">Maharashtra</option>
						<option style="color:black" value="Tamil Nadu">Tamil Nadu</option>
						<option style="color:black" value="Karnataka">Karnataka</option>
						</select>
						<span class="focus-input100" data-placeholder="&#xe833;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter phone">
						<input class="input100" type="tel" id="phone" name="phone" placeholder="Mobile Number">
						<span class="focus-input100" data-placeholder="&#xe830;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter age">
						<input class="input100" type="number" min="1" max="100" id="age" name="age" placeholder="Enter Age">
						<span class="focus-input100" data-placeholder="&#xe830;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" id="pass" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
						
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" id="pass-confirm" name="pass-confirm" placeholder="Confirm Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Register
						</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Already a member?
						</span>

			<a href="/" class="txt2 bo1">
							Login here
						</a>
					</div>
			{% for message in messages %}
				<div class="alert alert-success">
					<a class="close" href="#" data-dismiss="alert"></a>
					{{ message}}
				</div>
			{% endfor %}
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/static/Signup/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/Signup/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/Signup/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/Signup/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/Signup/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/Signup/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/Signup/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/Signup/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/Signup/js/main.js"></script>

</body>
</html>
